<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav2.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/nav.ejs') %>
    <div class="container">
      <div class="top">
        <a href="/facilities">Explore Facilities</a>
        <p>
          Vice city provides numerous facilities to its citizens. Click on
          Explore Facilities to know about the facilities we provide.
        </p>
      </div>

      <div class="bottom">
        <a href="/services">Explore Services</a>
        <p>
          Vice city provides numerous services to its citizens. Click on Explore
          Services to know about the services we provide.
        </p>
      </div>
    </div>
  </body>
</html>
