<!DOCTYPE html>
<html>

<head>
<title>ATM</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
rel="stylesheet"
type="text/css"
href="/stylesheets/facilities_services1.css"
/>
<link
href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
rel="stylesheet"
/>
</head>


</head>

<body>

<h1>24/7 ATM</h1>

<div class="images" >
  <img  class="mySlides" src="/assests/services_images/atm/atm1.jpg" style="width:100%">
  <img class="mySlides" src="/assests/services_images/atm/atm2.jpg" style="width:100%">
  <img class="mySlides" src="/assests/services_images/atm/atm3.jpg" style="width:100%">
  <img  class="mySlides" src="/assests/services_images/atm/atm4.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<div class="content">
<br><h3>STATE BANK OF INDIA</h3>
<p>President plaza ,vice city.<br>
Contact:- 02224 23568<br>
email:- sbi@gmail.com 
</p><br>
<h3>CANARA BANK</h3>
<p>Forest revenue,vice city<br>
Contact:- 02224 11297<br>
email:- canara@gmail.com
</p><br>
<h3>AXIS BANK</h3>
<p>Malviya nagar,vice city.<br>
Contact:- 02224 44659<br>
email:- axis@gmail.com
</p><br>
</div>
</body>
</html>
</body>
</html>

