<!DOCTYPE html>
<html>

<head>
<title>CHEMIST</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
rel="stylesheet"
type="text/css"
href="/stylesheets/facilities_services1.css"
/>
<link
href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
rel="stylesheet"
/>
</head>

</head>

<body>

<h1>24/7 CHEMIST</h1>

<div class="images" >
  <img  class="mySlides" src="/assests/services_images/chemist/Pharmacy1.jpg" style="width:100%">
  <img class="mySlides" src="/assests/services_images/chemist/pharmacy2.jpg" style="width:100%">
  <img class="mySlides" src="/assests/services_images/chemist/pharmacy3.png" style="width:100%">
  <img  class="mySlides" src="/assests/services_images/chemist/Pharmacy4.jpeg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<div class="content">
<br><h3>GLOBAL CHEMIST</h3>
<p>near City Hospital, Agra road,vice city.<br>
Contact:- 02224 76637<br>
email:- globalchemist@gmail.com 
</p><br>
<h3>IDEAL CHEMIST</h3>
<p>near Citizen Hospital, Ambedkar Chawk, near muncipal office<br>
Contact:- 02224 99877<br>
email:- idealchemist@gmail.com
</p><br>
<h3>WELLNESS CHEMIST</h3>
<p>V P Nagar,vice city.<br>
Contact:- 02224 11234<br>
email:- wellnesschemist@gmail.com
</p><br>
</div>
</body>
</html>
</body>
</html>
