<!DOCTYPE html>
<html>

<head>
<title>Railway</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
rel="stylesheet"
type="text/css"
href="/stylesheets/facilities_services1.css"
/>
<link
href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
rel="stylesheet"
/>
</head>
<link
rel="stylesheet"
type="text/css"
href="/stylesheets/facilities_services1.css"
/>
<link
href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
rel="stylesheet"
/>
</head>

</head>

<body>

<h1>RAILWAY STATION</h1>

<div class="images" >
  <img  class="mySlides" src="/assests/services_images/railway/railway1.jpg" style="width: 100%">
  <img class="mySlides" src="/assests/services_images/railway/railway2.jpg"style="width: 100%">
  <img class="mySlides" src="/assests/services_images/railway/railway3.jpg"style="width: 100%">
  <img  class="mySlides" src="/assests/services_images/railway/railway4.jpg" style="width: 100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<div class="content">
<br><h3>VICE CITY RAILWAY STATION</h3>
<p>Gholai nagar road ,vice city.<br>
Contact:- 02223 99009<br>
email:- vicecity@gmail.com 
</p><br>
<h3>KHOPAT RAILWAY STATION</h3>
<p>Khopat road,vice city<br>
Contact:- 02223 90876<br>
email:-khopat@gmail.com
</p><br>
<h3>RAILWAY STATION</h3>
<p>Malviya nagar,vice city.<br>
Contact:- 02223 44655<br>
email:- railway@gmail.com
</p><br>
</div>
</body>
</html>
</body>
</html>
