* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

body {
  padding: 20px;
  background: white;
}
.header {
  font-size: 30px;
  text-align: center;
  background: linear-gradient(57deg, #00c6a7, #1e4d92);
  color: white;
}
.column {
  float: left;
  width: 100%;
  margin-bottom: 15vh;
}

.card {
  background-color: white;
  padding: 3px;
  margin-top: 15px;
  border: 2px solid black;
  border-radius: 10px;
  min-height: 60vh;
  margin-bottom: 10px;
}
.profile {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
.material-icons {
  margin-top: 20%;
}
