<!DOCTYPE html>
<html>
  <head>
    <title>function/events</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/facilities_services1.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1>FUNCTION/EVENT</h1>

    <div class="images">
      <img
        class="mySlides"
        src="/assests/facilities_images/events/event1.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/events/event2.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/events/event3.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/events/event4.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/events/event5.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/events/event6.jpg"
        style="width: 100%"
      />
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
          myIndex = 1;
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
      }
    </script>
    <div class="content">
      <h3>CEREMONY BANQUET</h3>
      <p>
        3th floor,Near star cineman,vice city.<br />
        Timings:- 10.00am-7.00pm<br />
        contact:- 022 6462 4647<br />
        email:- ceremonybanquet@gmail.com 
      </p>
      <br />
      <h3>GRAND CELEBRATION BANQUET</h3>
      <p>
        Sector 04,near sagar plaza,vice city.<br />
        Timings:- 9.00am-9.00pm<br />
        contact:- 022 5363 8766<br />
        email:- grandcelebrationbanquet@gmail.com
      </p>
      <br />
      <h3>DREAMS BANQUET</h3>
      <p>
        Sector 23, role villa,vice city.<br />
        Timings:- 10.00am-10.00pm<br />
        contact:-. 022 5678 8971<br />
        email:- dreamsbanquet@gmail.com
      </p>
      <br />
    </div>
  </body>
</html>
