<html>
  <head>
    <title></title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/facilities_services.css"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="services">
        <h1>Our Facilities</h1>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="icon">
            <button
              class="button"
              onclick='location.href="/facilities/schools"'
            >
              <i class="fa fa-university"></i>
            </button>
          </div>
          <h3>Schools</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button
              class="button"
              onclick='location.href="/facilities/hospitals"'
            >
              <i class="fa fa-hospital-o"></i>
            </button>
          </div>
          <h3>Hospitals</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button class="button" onclick='location.href="/facilities/shops"'>
              <i class="fa fa-shopping-basket"></i>
            </button>
          </div>
          <h3>Shops</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button
              class="button"
              onclick='location.href="/facilities/colleges"'
            >
              <i class="fa fa-graduation-cap"></i>
            </button>
          </div>
          <h3>Colleges</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button class="button" onclick='location.href="/facilities/hotels"'>
              <i class="fa fa-h-square"></i>
            </button>
          </div>
          <h3>Hotels</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button class="button" onclick='location.href="facilities/malls"'>
              <i class="fa fa-shopping-cart"></i>
            </button>
          </div>
          <h3>Malls</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button
              class="button"
              onclick='location.href="/facilities/restaurants"'
            >
              <i class="fa fa-cutlery"></i>
            </button>
          </div>
          <h3>Restaurants</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button
              class="button"
              onclick='location.href="/facilities/libraries"'
            >
              <i class="fa fa-book"></i>
            </button>
          </div>
          <h3>Library</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button
              class="button"
              onclick='location.href="/facilities/playgrounds"'
            >
              <i class="fa fa-futbol-o"></i>
            </button>
          </div>
          <h3>Playground</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button class="button" onclick='location.href="/facilities/events"'>
              <i class="fa fa-building"></i>
            </button>
          </div>
          <h3>Function/Event Halls</h3>
        </div>

        <div class="col-md-3 text-center">
          <div class="icon">
            <button class="button" onclick='location.href="/facilities/gyms"'>
              <i class="fa fa-building-o"></i>
            </button>
          </div>
          <h3>Gym/Fitness center</h3>
        </div>
      </div>
    </div>
  </body>
</html>
