<!DOCTYPE html>
<html>
  <head>
    <title>gym</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/facilities_services1.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1>GYM/FITNESS CENTRE</h1>

    <div class="images">
      <img
        class="mySlides"
        src="/assests/facilities_images/gym/gym1.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/gym/gym2.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/gym/gym3.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/gym/gym4.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/gym/gym5.jpg"
        style="width: 100%"
      />
      <img
        class="mySlides"
        src="/assests/facilities_images/gym/gym6.jpg"
        style="width: 100%"
      />
    </div>
    <script>
      var myIndex = 0;
      carousel();

      function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {
          myIndex = 1;
        }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 2000); // Change image every 2 seconds
      }
    </script>
    <div class="content">
      <h3>D&R GYM</h3>
      <p>
        sector 11,Suchak Naka,vice city.<br />
        Timings: 09.00am- 10.30pm<br />
        email:- d&rgym@gmail.com 
      </p>
      <br />
      <h3>GRAVITY FITNESS</h3>
      <p>
        Shop No.22,Sector 04,Agra road,vice city.<br />
        Timings: 10.00am- 11.00pm<br />
        email:- gravityfitness@gmail.com
      </p>
      <br />
      <h3>FOX GYM</h3>
      <p>
        Sector 23,rose villa,vice city.<br />
        Timings: 10.00am- 10.00pm<br />
        email:- foxgym@gmail.com
      </p>
      <br />
    </div>
  </body>
</html>
