<html>
  <head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/complaint.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../partials/nav.ejs') %>
    <div class="top">
      <h1>Please Select Your Complaint</h1>
    </div>
    <div class="cards">
      <div class="Icons">
        <a href="/complaint/water">
          <img src="/assests/water.png" />
        </a>
        <h2>WATER</h2>
      </div>
      <div class="Icons">
        <a href="/complaint/waste_management"
          ><img src="/assests/waste1.png"
        /></a>
        <h2>WASTE MANAGEMENT</h2>
      </div>
      <div class="Icons">
        <a href="/complaint/electricity">
          <img src="/assests/electricity1.png"
        /></a>
        <h2>ELECTRICITY</h2>
      </div>
      <div class="Icons">
        <a href="/complaint/safetyandsecurity">
          <img src="/assests/safety.png"
        /></a>
        <h2>SAFETY AND SECURITY</h2>
      </div>
      <div class="Icons">
        <a href="/complaint/transportation">
          <img src="/assests/public.png"
        /></a>
        <h2>TRANSPORTATION</h2>
      </div>
      <div class="Icons">
        <a href="/complaint/road"> <img src="/assests/road.png" /></a>
        <h2>ROADS</h2>
      </div>
      <div class="Icons">
        <a href="/complaint/others">
          <img src="/assests/others.jpg" />
        </a>
        <h2>OTHERS</h2>
      </div>
    </div>
  </body>
</html>
